<!-- blog/templates/blog/post_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>
        {% if view.object %}Update Post{% else %}Create Post{% endif %}
    </title>
</head>
<body>
    <h1>
        {% if view.object %}Update Post{% else %}Create Post{% endif %}
    </h1>

    <!-- Form to create/update a post -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }} <!-- Render all form fields -->
        <button type="submit">Save</button>
    </form>

    <a href="{% url 'post-list' %}">Back to all posts</a>
</body>
</html>

